html {
	font-size: 18px;
	font-family: "Helvetica";
}

/*Banner
---------------------------------------------*/

.banner {
	height: 30rem;
	background: url(glasses-bg.png) no-repeat center;
	background-size: cover;
	padding: 1rem;
}

.banner .container {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

.banner .container nav {
	background: cadetblue;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

/*Logo*/

.logo {
	display: flex;
}

.logo img {
	padding-left: 2rem;
	height: 1.5rem;
}

.logo span {
	padding-left: 1rem;
	display: inherit;
	align-items: center;
}

/*Links*/

.links span {
	display: none;
}

.links ul {
	display: inline-flex;
}

.links ul li {
	padding: 1rem 2rem 1rem 0;
}

/*Detail*/

.detail {
	display: inline-block;
	background: white;
	padding: 1.5rem 5rem;
	color: black;
	font-weight: bold;
	font-size: 2rem;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	margin-top: 10rem;
	margin-right: -2rem;
}

/*Contant
---------------------------------------------*/

.content {
	display: flex;
	flex-direction: column;
}

/*Icone*/

.icons {
	display: inherit;
	justify-content: center;
}

.icons .item {
	display: inherit;
	flex-direction: column;
	justify-content: space-between;
	padding: 3rem;
	align-items: center;
	height: 8rem;
	width: 5rem;
	text-align: center;
}

.icones .item .img-wrap {
	height: 100%;
}

.icons .item img {
	max-width: 4rem;
}

/*Details*/

.details {
	display: flex;
	justify-content: center;
}

.details .item {
	display: inherit;
	flex-direction: column;
	width: 35%;
	padding-right: 5%;
}

.details .item .title {
	padding: 0.5rem 1.25rem;
	background: cadetblue;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	width: 10rem;
	margin-bottom: 1rem;
}

.details .item .text {
	line-height: 1.5;
	padding-bottom: 4rem;
}

/*Footer
-------------------------------------------------*/

footer .container {
	max-width: 960px;
	margin: 0 auto;
	background: azure;
	padding: 4rem 3rem;
}

.footer-logo {
	display: flex;
}

.footer-logo img {
	height: 1.5rem;
}

.footer-logo span {
	padding-left: 1rem;
	display: inherit;
	align-items: center;
}

/*Queries
-------------------------------------------------*/

/*Tablet*/
@media only screen and (max-width: 1024px) {

	.banner {
		padding: 0;
		height: 22rem;
	}

	.banner .container {
		max-width: 100%;
	}

	.detail {
		margin-top: 5rem;
		padding: 0.75rem 4rem;
		font-size: 1.33rem;
		margin-right: 3rem;
	}

}

/*Mobile*/
@media only screen and (max-width: 650px) {
	.links span {
		display: inline-flex;
		padding: 1rem 2rem 1rem 0;
	}

	.links ul {
		display: none;
	}
}

/*Smaller Mobile*/
@media only screen and (max-width: 470px) {

	.banner {
		height: 17rem;
		background-position: 20%;
	}

	.logo span {
		display: none;
	}

	.detail {
		margin-top: 9rem;
		padding: 1rem;
		font-size: 1rem;
		margin-right: 0;
		display: block;
		position: relative;
		text-align: center;
	}

	.icons {
		display: inherit;
		flex-direction: column;
		align-items: center;
		padding: 3.77rem;
	}

	.icons .item {
		display: inherit;
		flex-direction: column;
		justify-content: initial;
		padding: 0;
		margin-bottom: 1.54rem;
		align-items: center;
		height: auto;
		width: auto;
		text-align: center;
	}

	.icons .item:last-child {
		margin-bottom: 0;
	}	

	.icons .item img {
		max-width: 4rem;
		margin-bottom: 1rem;
	}

	/*Details*/

	.details {
		display: flex;
		flex-direction: column;
	}

	.details .item {
		display: inherit;
		flex-direction: column;
		width: 100%;
		padding-right: 0;
	}

	.details .item .title {
		display: block;
		padding: 0.5rem 1.25rem;
		background: cadetblue;
		font-weight: bold;
		text-transform: uppercase;
		color: white;
		width: auto;
		margin-bottom: 1rem;
		text-align: center;
	}

	.details .item .text {
		line-height: 1.5;
		font-size: 0.77rem;
		padding-bottom: 4rem;
		margin-left: 0.5rem;
	}

	.footer-logo {
		display: flex;
		justify-content: center;
	}

	.footer-logo span {
		display: none;
	}

}