html {
	font-size: 18px;
	font-family: "Helvetica";
}

/*Banner
---------------------------------------------*/

.banner {
	height: 30rem;
	background: url(glasses-bg.png) no-repeat center;
	background-size: cover;
}

.banner .container {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

.banner .container nav {
	position: absolute;
	background: cadetblue;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 1rem;
	width: 100%;
}

/*Logo*/

.logo {
	display: flex;
}

.logo img {
	padding-left: 2rem;
	height: 1.5rem;
}

.logo span {
	padding-left: 1rem;
	display: inherit;
	align-items: center;
}

/*Links*/

.links ul {
	display: inline-flex;
}

.links ul li {
	padding: 1rem 2rem 1rem 0;
}

/*Detail*/

.detail {
	display: inline-block;
	background: white;
	padding: 1.5rem 5rem;
	color: black;
	font-weight: bold;
	font-size: 2rem;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	margin-top: 10rem;
	margin-right: -2rem;
}

/*Contant
---------------------------------------------*/

.content {
	display: flex;
	flex-direction: column;
}

/*Icone*/

.icons {
	display: inherit;
	justify-content: center;
}

.icons .item {
	display: inherit;
	flex-direction: column;
	justify-content: space-between;
	padding: 3rem;
	align-items: center;
	height: 8rem;
	width: 5rem;
	text-align: center;
}

.icones .item .img-wrap {
	height: 100%;
}

.icons .item img {
	max-width: 4rem;
}

/*Details*/

.details {
	padding-bottom: 4rem;
	display: flex;
	justify-content: center;
}

.details .item {
	display: inherit;
	flex-direction: column;
	width: 35%;
	padding-right: 5%;
}

.details .item .title {
	padding: 0.5rem 1.25rem;
	background: cadetblue;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	width: 10rem;
	margin-bottom: 1rem;
}

.details .item .text {
	line-height: 1.5;
}

/*Footer
-------------------------------------------------*/

footer .container {
	max-width: 960px;
	margin: 0 auto;
	background: azure;
	padding: 4rem 3rem;
}

.footer-logo {
	display: flex;
}

.footer-logo img {
	height: 1.5rem;
}

.footer-logo span {
	padding-left: 1rem;
	display: inherit;
	align-items: center;
}